html,
body,
h1 {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #212121;
}

.container,
.leftColumn,
.rightColumn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-justify-content: center;
  justify-content: center;
}

.container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.linkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rightColumn {
  margin-left: 32px;
}

.circular {
  width: 230px;
  height: 230px;
  border-radius: 115px;
  -webkit-border-radius: 115px;
  -moz-border-radius: 115px;
  background: url(img/face.png) no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.name {
  text-align: center;
  color: #eaeaea;
}

a {
  text-decoration: none;
  color: #9898f3;
}

a:hover {
  color: #ff0066;
}
