html, body, h1 {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #212121;
}

.circular {
  width: 230px;
  height: 230px;
  border-radius: 115px;
  -webkit-border-radius: 115px;
  -moz-border-radius: 115px;
  background: url(../img/face2.png) no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.center {
  margin-left: auto;
  margin-right: auto;
  background-color: #b0e0e6;
}

#navlist li {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  padding: 25px 25px 25px 0px;
}

.name {
  text-align: center;
  color: #e0d2d2;
}

a {
  text-decoration: none;
  color: #9898f3;
}

a:hover {
  color: #FF0066;
}
