html, body, h1 {
  font-family: 'Raleway', sans-serif;
}

.center {
    margin-left: auto;
    margin-right: auto;
    background-color: #b0e0e6;
}

#navlist li {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    padding: 25px 25px 25px 0px;
}

a:link {
      text-decoration: none;
      color: #0000B8;
}

a:visited {
      text-decoration: none;
      color: #0000B8;
}

a:hover {
      text-decoration: none;
      color: #FF0066;
}

a:active {
      text-decoration: none;
}

